[submodule "keyswitch-kicad-library"]
	path = keyswitch-kicad-library
	url = https://github.com/perigoso/keyswitch-kicad-library
[submodule "TheKeebrary.pretty"]
	path = TheKeebrary.pretty
	url = https://github.com/n0bs/TheKeebrary.pretty
[submodule "kicad_lib_tmk"]
	path = kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk
